.main {
    width: 250px;
    height: 350px;
    /* aspect-ratio: 250/350; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 5px #000;
    background-color: white;
    border-radius: 20px;
    
}

.main.dark {
    background-color: #111;
    color: #fff;
    border: 3.5px solid #fff;

    /* Glow Effect */
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 255, 255, 0.35),
        0 0 40px rgba(255, 255, 255, 0.25),
        inset 0 0 15px rgba(255, 255, 255, 0.2);

    transition: box-shadow 0.3s ease;
}


.imgDiv {
    height: 75%;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 50%;
  

    /* background-color: green; */
}

.imgDiv .imgContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 !important;
    height: 70%;
    object-fit: cover;
    /* border: 5px solid #000; */
    border-radius: 50%;
    /* border: 10px solid #000; */
    /* overflow: hidden; */
      border-color: #fff;
    border-width: 10px;
}

.imgDiv .imgContainer img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--shadowColor);
    /* opacity: 0; */
    /* display: none; */
}

.main.dark .imgDiv img {
    
     box-shadow:
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 255, 255, 0.35),
        0 0 10px rgba(255, 255, 255, 0.25),
        inset 0 0 15px rgba(255, 255, 255, 0.2);

}

.info {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.info h3 {
    font-size: 22px;
    color: #111;
    /* overflow-wrap: break-word; */
    /* word-break: break-all; */
    white-space: nowrap;
    /* max-width: 100%; */
    /* padding: 10px; */
}

.main.dark .info h3 {
    color: #fff;
}

.info p {
    font-weight: 500;
    color: #666;
}

.main.dark .info p {
    color: #999;
}

.icons {
    margin: 5px 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.main.dark .iconContainer{
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    border: #fff solid 2px;
     box-shadow:
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 255, 255, 0.35),
        0 0 40px rgba(255, 255, 255, 0.25),
        inset 0 0 15px rgba(255, 255, 255, 0.2);
}


@media screen {
    /* .icons{
    display: none;
 }    */
}